@model IEnumerable<DataAccess.Models.Person>

@{
    ViewBag.Title = "Person";
}

<h2>Person List</h2>

<p>
    @Html.ActionLink("Create New", "Person")
</p>
<p>Type something in the input field to search the table for first names, last names or emails:</p>
<input class="form-control" id="myInput" type="text" placeholder="Search.." style="width:100%;">
<br/>
<table class="table table-striped" id="tbl-employees">
    <thead>
        <tr>
            <th>
                Sr. No.
                @*Html.DisplayNameFor(model => model.BusinessEntityID)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suffix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessEntityID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Suffix)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PersonType)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>

            <td>
                @Html.ActionLink("Edit", "Person", new { id = item.BusinessEntityID }) |
                @*@Html.ActionLink("Details", "Person", new { id = item.BusinessEntityID }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.BusinessEntityID })
            </td>
        </tr>
        }
    </tbody>

</table>
@section scripts
{
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#tbl-employees tbody tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>
}
